[Unit]
Description=snapshot uWSGI instance
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/debian-snapshot/api
ExecStart=/usr/bin/uwsgi --ini snapshot-api.ini

[Install]
WantedBy=multi-user.target
