[Unit]
Description=snapshot uWSGI instance
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/snapshot-mirror/api
ExecStart=/usr/bin/uwsgi --ini snapshot.ini

[Install]
WantedBy=multi-user.target
